<div class="d-flex justify-content-center mt-2">
  <ul class="w-25 d-flex flex-column gap-3 p-0">
    <!-- utilizzo *ngFor per iterare su tasks -->
   <li *ngFor="let task of tasks" class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <input
          type="checkbox"
          class="my-2 me-2"
          [checked]="task.completed"
          (change)="onToggle(task.id)" 
        />
      <!-- utilizzo ngClass per applicare una classe condizionale -->
     <span [ngClass]="{ 'text-decoration-line-through': task.completed }">
          {{ task.text }}
        </span>
      </div>
      <button class="btn btn-danger btn-sm" (click)="onDelete(task.id)">Elimina</button>
    </li>
  </ul>
</div>

